body {
  background-color: #EDF5E1;
  text-align: center;
  font-size: 25px;
  margin:0px;
  font-family: 'Oswald', sans-serif;
}

footer {
  background-color: #41B3A3;
  height: 100px;
  margin: 0;
}
header {
  background-color: #E8A87C;
  height: 100px;
  margin: 0;
}
img {
  width: 500px;
}

li {
  list-style-position: inside;
  display: inline;
  background-color: #8860D0;
}

li:hover {
  list-style-position: inside;
   display: inline;
  background-color: #C2B9B0;
}
#attach li {
  margin: 25px; 
}


#attach2 li {
  margin: 5px; 
  background-color: #ff7f50;
}

#attach2 li:hover,
#attach3 li:hover,
#attach4 li:hover, 
#attach5 li:hover,
#attach6 li:hover,
#attach7 li:hover,
#attach8 li:hover,
#attach9 li:hover,
#attach10 li:hover
 {
  background-color: #C2B9B0;
}

#attach3 li {
  margin: 15px; 
  background-color: #379683;
}




#attach4 li {
  margin: 25px; 
  background-color: #4056A1
}


#attach5 li {
  margin: 25px; 
  background-color: #78244C;
}

#attach6 li {
  margin: 25px; 
  background-color #9D8D8F;
}

#attach7 li {
  margin: 25px; 
  background-color: #1C3334;
}

#attach8 li {
  margin: 25px; 
  background-color: #E98074;
}

#attach9 li {
  margin: 25px; 
  background-color: #3AAFA9;
}

#attach10 li {
  margin: 25px; 
  background-color: #474B4F;
}

.next {
  background-color: #659DBD;
  font-size: 20px;
}
