body {
  background-color: #EDF5E1;
  text-align: center;
  font-size: 25px;
  margin:0px;
  font-family: 'Oswald', sans-serif;
}

footer {
  background-color: #41B3A3;
  height: 100px;
  margin: 0;
}
header {
  background-color: #E8A87C;
  height: 100px;
  margin: 0;
}
img {
  width: 500px;
}

li {
  list-style-position: inside;
  display: inline;
  background-color: #8860D0;
}

li:hover {
  list-style-position: inside;
   display: inline;
  background-color: #C2B9B0;
}
#attach li {
  margin: 25px; 
}


#attach2 li {
  margin: 5px; 
}

#attach3 li {
  margin: 15px; 
}

