body {
  background-color: #EDF5E1;
  text-align: center;
  font-size: 30px;
  margin:0px;
  font-family: 'Oswald', sans-serif;
}



footer {
  background-color: #41B3A3;
  height: 100px;
  margin: 0;
}
header {
  background-color: #E8A87C;
  /* height: 100px; */
  margin: 0;
}
hr {
  height: 10px;
  background-color: black;
  display: block;
}
h2 {
  margin: 0px;
}

ul {
  display: flex;
  justify-content: space-around; 
}
li {
  list-style-position: inside;
  display: inline;
  height: 60px;
  justify-content: space-around;
  background-color: #8860D0;
}

li:hover {
  list-style-position: inside;
  background-color: #C2B9B0;
}
#attach li {
  margin: 25px; 
}


#attach2 li {
  margin: 5px; 
  background-color: #ff7f50;
}

#attach2 li:hover,
#attach3 li:hover,
#attach4 li:hover, 
#attach5 li:hover,
#attach6 li:hover,
#attach7 li:hover,
#attach8 li:hover,
#attach9 li:hover,
#attach10 li:hover
 {
  background-color: #C2B9B0;
}

#attach3 li {
  margin: 15px; 
  background-color: #379683;
}




#attach4 li {
  margin: 25px; 
  background-color: #E8A87C;
}


#attach5 li {
  margin: 25px; 
  background-color: #C38D;
}

#attach6 li {
  margin: 25px; 
  background-color: #D79922;
}

#attach7 li {
  margin: 25px; 
  background-color: #C5CBE3;
}

#attach8 li {
  margin: 25px; 
  background-color: #98ff98;
}

#attach9 li {
  margin: 25px; 
  background-color: #3AAFA9;
}

#attach10 li {
  margin: 25px; 
  background-color: #DA7B93;
}

#attach11 li {
  background-color: #977352;
}

#attach12 li {
  background-color: #E13113;
}

#attach13 li {
  background-color: #00A9;
}

#attach14 li {
  background-color: #DA7B93;
}

#attach15 li {
  background-color:#9932cc;
}

.next {
  background-color: #659DBD;
  font-size: 20px;
}

#q1Right, #q2Right, #q3Right, #q4Right, #q5Right,
#q6Right, #q7Right, #q8Right, #q9Right, #q10Right, #q11Right, #q12Right,
#q13Right, #q14Right, #q15Right  {
  font-size: 30px;
  color: green;
  float: left;
  display: none;
  margin: 0px;
  margin-left: 10px;
  background-color: black;
  width: 50px;
}

#q1Wrong, #q2Wrong, #q3Wrong, #q4Wrong, #q5Wrong,
#q6Wrong, #q7Wrong, #q8Wrong, #q9Wrong, #q10Wrong, #q11Wrong, #q12Wrong, 
#q13Wrong, #q14Wrong, #q15Wrong {
  font-size: 30px;
  float: right;
  display: none;
  margin: 0px;
  margin-right: 10px;
  background-color: black;
  width: 50px;
}

@media only screen and (max-width: 550px){
  body {
    font-size: 20px;
  }
  hr {
    margin-top: 20px;
  }
  li {
    font-size: 18px;
    padding: 16px;
  }
}

 @media only screen and (max-width: 1000px){
  body {
    font-size: 25px;
  }
} 